@model HockeyTeams.Models.Team
@{
    ViewData["Title"] = "View Team";
}
<h2>View Individual Team Here</h2>
<div>@Html.DisplayFor(modelItem => Model.Location)&nbsp;@Html.DisplayFor(modelItem => Model.Name)</div>
<div>@Html.DisplayFor(modelItem => Model.Division)</div>
<div>@Html.DisplayFor(modelItem => Model.Conference)</div>